@font-face {
    font-family:'Helvetica Neue' ;
    src: url('./font/HelveticaNeue.ttc');
}


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue';
}


a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}